<nav>
  <div class="md:flex md:justify-between" data-target="navbar.content">
    <%= link_to image_tag('small-logo.png', alt:'Sarah Proctor logo', class: 'px-4 md:h-16 hidden md:block'), root_path
    %>
    <div class="m-3">
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-default"
        aria-expanded="false"
        data-action="click->navbar#toggle"
      >
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div class="hidden w-full md:contents md:w-auto" id="navbar-default" data-navbar-target="content">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <li class="block py-3 px-1 xl:px-2 border-b md:border-none">
          <%= link_to 'My Work', work_path, class: 'block rounded' %>
        </li>
        <li class="block py-3 px-1 xl:px-2 border-b md:border-none">
          <%= link_to 'Contact', contact_path, class: 'block rounded' %>
        </li>
        <li class="block py-3 px-1 xl:px-2 border-b md:border-none">
          <%= link_to 'Compliments', compliments_path, class: 'block rounded' %>
        </li>
        <li class="block py-3 px-1 xl:px-2 border-b md:border-none">
          <%= link_to 'Resume', resume_path, class: 'block rounded' %>
        </li>
        <li class="block py-3 px-1 xl:px-2 border-b md:border-none">
          <%= link_to 'Home', root_path, class: 'block rounded' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
