<% programming = [{icon: 'devicon-javascript-plain', name: 'JavaScript'}, {icon: 'devicon-react-original', name:
'React'}, {icon: 'devicon-react-original', name: 'React.js'}, {icon: 'devicon-ruby-plain', name: 'Ruby'}, {icon:
'devicon-rails-plain', name: 'Ruby on Rails'}, {icon: 'devicon-postgresql-plain', name: 'PostgreSQL'}, {icon:
'devicon-tailwindcss-original', name: 'Tailwind'}, {icon: 'devicon-bootstrap-plain', name: 'Bootstrap'}, {icon:
'devicon-reactbootstrap-original', name: 'Reactstrap'}, {icon: 'devicon-jest-plain', name: 'Jest'}, {icon:
'devicon-rspec-plain', name: 'RSpec'}] %> <% tech = [{icon: 'devicon-git-plain', name: 'Git'}, {icon:
'devicon-github-original', name: 'GitHub'}, {icon: 'devicon-githubactions-plain', name: 'GitHub Actions'}, {icon:
'devicon-homebrew-plain', name: 'Homebrew'}, {icon: 'devicon-postman-plain', name: 'Postman'}, {icon:
'devicon-heroku-original', name: 'Heroku'}] %> <% productivity = [{icon: 'devicon-notion-plain', name: 'Notion'}, {icon:
'devicon-trello-plain', name: 'Trello'}, {icon: 'devicon-canva-original', name: 'Canva'}, {icon: 'devicon-slack-plain',
name: 'Slack'}] %>

<div class="bg-gray-100"><%= image_tag('logo.png', alt:'Sarah Proctor logo', class: 'p-4 mx-auto') %></div>
<div class="m-4 lg:m-7">
  <h3 class="text-xl my-1">Hi there, I'm Sarah 👋</h3>
  <div>
    I am passionate about the art of crafting clean, readable, and efficient code. For the last five years I have been
    leading a React.js and Ruby on Rails web development bootcamp into full-stack development. I am excited to leverage
    my extensive troubleshooting skills, agile project management methodologies, and technical experience to create
    effective software solutions.
  </div>
  <br />
  <h3 class="text-xl my-3">Skills and Competencies</h3>
  <h3 class="text-xl my-1">Programming</h3>
  <div>
    <% programming.map do |skill| %>
    <span class="pr-3"><i class="<%= skill[:icon] %> pr-1"></i><%= skill[:name] %></span>
    <% end %>
  </div>
  <br />
  <h3 class="text-xl my-1">Technical</h3>
  <div>
    <% tech.map do |skill| %>
    <span class="pr-3"><i class="<%= skill[:icon] %> pr-1"></i><%= skill[:name] %></span>
    <% end %>
  </div>
  <br />
  <h3 class="text-xl my-1">Productivity</h3>
  <div>
    <% productivity.map do |skill| %>
    <span class="pr-3"><i class="<%= skill[:icon] %> pr-1"></i><%= skill[:name] %></span>
    <% end %>
  </div>
  <br />
  <h3 class="text-xl my-1">Work</h3>
  <br />
  <h3 class="text-xl my-1">Hobbies and Interests</h3>
</div>
