<!DOCTYPE html>
<html>
  <head>
    <title>Sarah Proctor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track":
    "reload" %> <%= favicon_link_tag asset_path('profile-logo.png') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>
  </head>

  <body>
    <div class="flex"><%= render partial: '/shared/navigation' %></div>
    <main class="container mx-auto mt-28 px-5 flex"><%= yield %></main>
  </body>
</html>
